# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# Django
*.sqlite3
staticfiles/
media/

# OS
.DS_Store
Thumbs.db
